.Contador input{
    font-size: 1.4rem;
    width: 80px;
}
.Contador button{
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
    font-size: 1.4rem;
}